<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/Head') %>
    <link rel="stylesheet" href="/CSS/InboxPage.css" />
</head>

<body>
<header><%- include('../partials/Header') %></header>
<!--  <header><%- include('../partials/Notification') %></header>-->

<div class="container">
    <%- include('../partials/Sidebar') %>
    <% if (email) { %>
    <div class="content">
        <h1 class="heading">
            <%= email.SUBJECT%>
        </h1>

        <p class="detail-body">
            <%= email.MESSAGE%>
        </p>
        
        <button onclick="downloadFile()">Download file</button>

    </div>
    <% }%>
</div>

<script>
    function downloadFile() {
        const emailId = "<%= email.ID %>";
        window.location.href = `/email-detail/download/${emailId}`; // Chuyển hướng trực tiếp đến URL download
    }
</script>
</body>

</html>